@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive($breakpoints) {
    @if $breakpoints==small{
        @media(min-width: 576px){
            @content;
        }
    }
    
    @if $breakpoints == medium{
        @media(min-width: 768px){
            @content;
        }
    }
    
    @if $breakpoints == desktop{
        @media(min-width: 992px){
            @content;
        }
    }

    @if $breakpoints == large{
        @media(min-width: 1200px){
            @content;
        }
    }

}


